{% extends 'base.html' %}

{% block title %}Create a Tag{% endblock %}

{% block content %}
<h1>Create a Tag</h1>
<form action="/tags/new" method="POST">
    <label for="tag-name">Name:</label>
    <input type="text" name="tag-name" id="tag-name" placeholder="Enter Tag Name">
    {% for post in posts %}
    <input type="checkbox" value="{{post.id}}" id="post_{{post.id}}" name="posts">
    <label for="post_{{post.id}}">{{post.name}}</label>
    {% endfor %}
    <button><a href="/tags">Cancel</a></button>
    <button type="submit">Add</button>
</form>
{% endblock %}